# requirements.txt
llama-index
neo4j
llama-index-graph-stores-neo4j
llama-parse
qdrant_client
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface
llama-index-embeddings-fastembed
llama-index-llms-groq
pandas
python-docx
PyPDF2
beautifulsoup4
